/StudentProject/StudentProject/.idea/*.xml
/StudentProject/StudentProject/pom.xml
/StudentProject/StudentProject/target/classes/org/example/*.class
/StudentProject/StudentProject/target/classes/org/example/Main.class
/StudentProject/.idea/compiler.xml
/StudentProject/.idea/encodings.xml
/StudentProject/.idea/jarRepositories.xml
/StudentProject/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/StudentProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_9_2.xml
/StudentProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_0.xml
/StudentProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_9_0.xml
/StudentProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_9_2.xml
/StudentProject/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_0.xml
/StudentProject/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_9_0.xml
/StudentProject/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/StudentProject/.idea/.gitignore
/StudentProject/.idea/misc.xml
/StudentProject/.idea/modules.xml
/StudentProject/.idea/vcs.xml
/StudentProject/StudentProject/StudentProject.iml
/StudentProject/StudentProject/target/test-classes/org/example/StudentTest.class
