/StudentProject/StudentProject/.idea/*.xml
/StudentProject/StudentProject/pom.xml
/StudentProject/StudentProject/target/classes/org/example/*.class
/StudentProject/StudentProject/target/classes/org/example/Main.class
